version: '3.8'

services:
  db:
    image: postgres:16.10-alpine3.22
    container_name: granjas_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sistema_granjas
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
